body {
  background-image: url(../images/SignIn_BG.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 140vh;
  width: auto;
}

.Sign_in_form {
  width: 42%;
  margin-top: 90px;
  padding: 10vh;
  border-radius: 20px;

  margin-bottom: 500px;
  background-color: var(--color-whiite);
  box-shadow: 8px 17px 22px -5px rgba(246, 246, 246, 0.62);
  -webkit-box-shadow: 8px 17px 22px -5px rgba(246, 246, 246, 0.62);
  -moz-box-shadow: 8px 17px 22px -5px rgba(246, 246, 246, 0.62);
}
#Name,
#Email,
#Password {
  padding: 12px;
  border-radius: 8px;
}

#Name:focus,
#Email:focus,
#Password:focus {
  border: none;
}
#Name::placeholder,
#Email::placeholder,
#Password::placeholder {
  padding-left: 7px;
}
.btn-primary {
  background-color: var(--main-color);
  width: 100%;
  border-radius: 10px;
}
