@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* All root properties are here ==============================================*/
:root {
  --main-color: #0054f0;
  --color-whiite: #ffffff;
  --border: #eaebec;
  --color-black: black;
  --cart-color: #f4f7fa;
  --btn-color-small: #f4f7fa;
  --paragraph-color: #707070;
  --Gray-light-background: #f4f7fa;
}
/* All root properties are here ===============================================*/

/* All Default and necessary styling start from here ==========================*/
html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
  color: var(--color-black);
  font-weight: 700;
  font-size: 5vh;
  line-height: 3.5rem;
}
p {
  color: var(--paragraph-color);
  line-height: 2rem;
}
a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

#tag {
  border-radius: 50px;
  background-color: var(--color-whiite);
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.btn_Sign-IN {
  border: none;
  background-color: var(--color-whiite);
  padding: 10px 45px;
  color: var(--color-black);
  font-weight: 500;
  border-radius: 15px;
  border: 3px solid var(--border);
  margin: 0px 10px;
  box-shadow: 10px 10px 15px 15px #acacac13;
}

.btn_Sign-UP {
  border: none;
  background-color: var(--main-color);
  padding: 10px 45px;
  color: var(--color-whiite);
  font-weight: 500;
  border-radius: 15px;
  box-shadow: 10px 10px 15px 15px #acacac13;
}

.btn_Sign-UP a {
  color: var(--color-whiite);
}

.btn_Sign-IN_small {
  border: none;
  background-color: var(--btn-color-small);
  padding: 5px 20px;
  color: var(--color-black);
  font-weight: 500;
  border-radius: 15px;
  border: 3px solid var(--border);
  transition: 0.5s ease;
}
.btn_Sign-IN_small:hover,
.btn_Sign-IN_small:hover ~ a {
  background-color: var(--main-color);
  border: 3px solid var(--main-color);
  color: var(--color-whiite);
}
.btn_Sign-IN_small a:hover {
  color: var(--color-whiite);
}
/* All Default and necessary styling End here ======================================*/

/* Nav bar start  from here ========================================================*/

.Main_section_hero {
  background-image: url(../images/Hero_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 140vh;
  width: auto;
}

.dropdown-menu {
  border: none;
  box-shadow: 5px 5px 10px 10px rgba(129, 129, 129, 0.041);
  padding: 12px 20px;
  margin-left: 30px;
}
.dropdown-item {
  border-radius: 5px;
}

.dropdown-item:hover {
  background-color: var(--main-color);
  color: var(--color-whiite);
}

.nav-link {
  color: #14222f !important;
  font-size: 15px;
  font-weight: 600;
}
.nav-link:focus {
  color: var(--main-color) !important;
}
.bx-chevron-down {
  font-size: 22px;
  padding-left: 5px;
  font-weight: 700;
  outline-width: 5px;
}
.chevron-down:hovver {
  color: var(--main-color);
}

/* Nav bar end here ===============================================================*/
/* Hero section start from here ===================================================*/

.Hero_section {
  display: flex;
  justify-content: center;
  text-align: center;
}
.Hero_section_info a {
  color: var(--main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2rem;
  text-decoration: none;
  padding-left: 30px;
}

.contact_button .btn_Sign-UP a {
  text-decoration: none;
  color: var(--color-whiite);
}

.search {
  position: relative;
  width: 65vw;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 50px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid var(--main-color);
}

.search .fa-search {
  position: absolute;
  top: 18px;
  left: 16px;
  color: #9b9da2;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 110px;
  background: var(--main-color);
}

.Hero_TopSearch_list {
  justify-content: center;
  font-size: 13px;
  margin: 20px;
}
.Hero_TopSearch_list li {
  padding: 0px 10px;
}
/* Hero section end ================================================================ */

/* Products_category Section start from here  */

/* .Products_category_slyder .item h6 {
  text-align: center;
  color: var(--color-black);
  padding-top: 20px;
  font-size: 18px;
}

.Products_category_slyder .item p {
  text-align: center;
  color: var(--color-black);
  font-size: 13px;
} */
/* Products_category Section End  here =============================================== */

/* Trending_Auctions_Section start from here =========================================*/
.Trending_Auctions_Section_cart {
  transition: 0.3s ease-in;
  border-radius: 10px;
}
.Trending_Auctions_Section_cart:hover {
  box-shadow: 8px 17px 32px -5px rgba(163, 163, 163, 0.62);
  -webkit-box-shadow: 8px 17px 32px -5px rgba(163, 163, 163, 0.62);
  -moz-box-shadow: 8px 17px 32px -5px rgba(163, 163, 163, 0.62);
}
.Trending_Auctions_Section_cart .Product_img {
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 5px;
  padding-top: 25px;
  outline: none;
}
.Trending_Auctions_Section_product_info h6 {
  color: var(--paragraph-color);
  margin-top: 20px;
  font-size: 14px;
}
.Trending_Auctions_Section_product_Price h5 {
  color: var(--main-color);
}
.Trending_Auctions_Section_cart .btn_Sign-IN_small {
  margin-bottom: 20px;
}
/* Trending_Auctions_Section end here ==================================================*/

/* Top_Seller_section start from here ==================================================*/
.Top_Seller_section_seller_info {
  background-color: var(--Gray-light-background);
}

.Top_Seller_section_seller_info p {
  padding-right: 20px;
  margin-top: 18px;
  font-weight: 600;
}
.Top_Seller_section_seller_info h5 {
  font-size: 18px;
  margin-top: 10px;
}
.Top_Seller_section_seller_info h6 {
  color: var(--paragraph-color);
  font-size: 13px;
}
/* Top_Seller_section end here =========================================================*/

.Contact_Form_slyder_Right .form-group input {
  border-radius: 5px;
  margin: 20px 0px;
  border: none;
  background-color: #e7f7fb;
  padding: 20px 20px;
  color: var(--color-black);
  font-weight: 500;
  font-size: 16px;
}

.Contact_Form_slyder_Right .form-group textarea {
  border-radius: 5px;
  margin: 25px 0px;
  border: none;
  background-color: #e7f7fb;
  padding: 20px 20px;
  color: var(--color-black);
  font-weight: 500;
  font-size: 16px;
}

#googleMap {
  height: 400px;
  width: 100%;
  border-radius: 10px;
}
#SendMail {
  border-radius: 5px;
  flex-direction: row;
  margin: 25px 0px;
  border: none;
  background-color: var(--main-color) !important;
  padding: 15px;
  width: 100%;
  color: var(--color-whiite);
  font-weight: 600;
  font-size: 16px;
  outline: none;
}
